body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 24px;
}

header,
footer {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    color: white;
    background-color: #444;
    padding: 5px 0;
}

main {
    width: 400px;
    margin: 0 auto;

    h1 {
        text-align: center;
    }

    img {
        max-width: 400px;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5))
    }

    section {
        padding: 20px;
        background-color: #ccc;
        border: 1px solid #bbb;
        margin: 20px 0;

        h2 {
            border-bottom: 1px solid #000;
        }

        p {
            margin: 0 20px 20px;
        }
    }
}